name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        zig-version: ["0.15.2"]
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - zig-version: "0.14.1"
            os: ubuntu-latest
          - zig-version: "master"
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}

      - name: Check Formatting
        run: zig fmt --ast-check --check .

      - name: Build
        run: zig build --summary all
